<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         executionOrder="random"
         failOnRisky="false"
         failOnWarning="true"
         stopOnFailure="false"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="CLIENT_ID" value="00000000-0000-0000-0000-000000000000"/>
        <env name="SECRET_ID" value="00000000-0000-0000-0000-000000000000"/>
    </php>

    <testsuites>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
